<div class="m-4">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a href="www.shivaanta.com" class="navbar-brand">
                <img src="../../assets/images/logo.png" height="50">
            </a>
            <div class="font-effect-shadow-multiple navbar-brand fs-1 fw-bold fst-italic" style="
            font-family: cursive;
            color: rgb(5, 95, 5);
        ">SHIVAANTA</div>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse9">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse9">
                <div class="navbar-nav d-flex ms-auto">
                    <a href="#" class="nav-item nav-link active">Home</a>
                    <a href="#" class="nav-item nav-link">About</a>
                    <a href="#" class="nav-item nav-link">Products</a>
                </div>
                
            </div>
        </div>
    </nav>
  </div>
