*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.carousel-img{
  height: 400px;
  width: 800px;
}

.features-hover:hover{
  transform: scale(1.1);
  background-color: #33b5e5 !important;
  color: #fff;
  cursor: pointer;
  .features-title{
    color: #000;
  }
  .features-icon{
    color: #fff;
  }
}

.section-headline h4 {
  font-size: 26px;
  max-width: 800px;
  line-height: 36px;
  font-weight: 700;
  margin: 0 auto;
  text-transform: uppercase;
}
.section-headline{
  margin-bottom: 25px;
  position: relative;
}
.section-headline h3 {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.section-headline.white-headline h3,
.section-headline.white-headline p {
  color:#fff;
}
.section-headline.text-left {
  margin-bottom: 30px;
}
.section-headline::after {
  border: 1px solid #fd5f16;
  bottom: -27px;
  content: "";
  left: 0;
  margin: 0 auto;
  position: absolute;
  width: 60px;
  right: 0;
}
.section-headline.text-left h3::after {
  border: 2px solid #fd5f16;
  left: 0;
  right: auto;
}
.section-headline p {
  /*max-width: 650px;*/
  font-size: 16px;
  letter-spacing: 0.5px;
  margin: 0 auto;
  line-height: 26px;
}
.service-btn{
  text-transform: uppercase;
}
.services-all{
margin-top: -30px;
}
.services-all .single-services{
margin-top: 30px;
}
.single-services{
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.single-services:hover .services-img img {
  transform: scale(1);
  transition: 0.4s;
}
.single-services:hover .image-layer {
  position: absolute;
  left: 0;
  top: 0;
transition: 0.4s;
}
.single-services:hover .service-content h4{
  color: #fd5f16;
}
.single-services:hover .service-btn:hover{
  color: #fd5f16;
}
.services-all .single-services{
margin-top: 30px;
}
.single-services-page p {
  color: #000;
  margin-bottom: 0px;
  font-size: 15px;
  letter-spacing: 0.5px;
}
.single-services-page .marker-list li {
  color: #666;
}
.services-img {
  overflow: hidden;
  position: relative;
}
.services-img img {
  transform: scale(1.1);
  transition: 0.4s;
  height: 250px;
  width: 100%;
}
.single-services:hover .services-img img {
  transform: scale(1);
  transition: 0.4s;
}
.image-layer {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.80) none repeat scroll 0 0;
  z-index: 1;
  opacity: 1;
transition: 0.4s;
}
.image-layer a {
  display: block;
  text-align: center;
  position: relative;
  top: 50%;
  margin-top: -10px;
}
.image-layer a i {
  border-radius: 50%;
background: transparent;
font-size: 100px;
color:#fff;
opacity: 0.90;
}
.single-services:hover .image-layer {
  position: absolute;
  left: 0;
  top: 0;
transition: 0.4s;
}
.main-services{
  background-color: rgba(51, 181, 229,0.6);
}


// banner


.banner-area{
	background: #33b5e5;
}
.banner-area{
	padding: 10px 0px;
}
.banner-content h4 {
    margin: initial;
    float: left;
    font-size: 25px;
    /*max-width: 630px;*/
    line-height: 70px;
    color: #fff;
}
.banner-contact {
    padding: 10px 0px;
}
.banner-btn {
    border: 1px solid #fff;
    display: inline-block;
    padding: 14px 24px;
    color: #33b5e5;
    font-weight: 600;
    font-size: 20px;
    background: #fff;
    border-radius: 5px;
    float: right;
    margin: 7px 0px;
    font-size: 22px;
    font-weight: 700;
	transition: 0.4s;
}
@media screen and (max-width: 480px) {
  .banner-btn{
    float : left;
    margin-left: 25%;
  }
}
.banner-btn:hover{
    border: 1px solid #111;
    color: #fff;
    background: #111;
	transition: 0.4s;
}

// video

// video {
//   width: 100%;
//   height: 250px;
// }

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  
}

.centered1 {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-55%, -55%);
  color: white;
}
.centered1>a{
  color: #33b5e5;
  text-decoration: none;
}
.centered1>a:hover{
  color: rgb(236, 81, 30);
  
}

// enquiry heading

.enquiry-heading:hover{
  color: rgb(236, 81, 30);
}

// map 
.map-responsive{
  overflow:hidden;
  padding-bottom:50%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top: 15px;
  height:400px;
  width:100%;
  position:absolute;
}

// services 
.left_bar{
  border: 1px solid black ;
  background: lightcyan;
  text-align: center;
  align-items: center;
  font-size: 20px;
  font-weight: bolder;
  padding: 10px;
}
.left_bar>a{
  text-decoration: none;
  color: #000;
}
.left_bar:hover{
  background: #5bb2d1;
  color: #fff;
  
}